
.service_area {
	color: #fff;
}

.service_area h2 {
	color: #fff;
	border-color: #fff;
}

.service_area a {
	color: yellow;
}

.service_area a:hover {
	font-weight: bold;
}

footer {
	padding: 50px 0;
}
img{
	border-radius: 50%;
}

